.container {
    margin: 0 auto;
    padding: 2rem 1rem 12rem;
    width: 300px;
}

.smallContainer {
    background-color: var(--color-background);
    border-radius: 10px;
    padding: 2rem 1rem;
}

.heading {
    color: var(--color-accent);
    letter-spacing: 0.03em;
    margin-bottom: 2rem;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.row {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.label {
    text-align: center;
}

.formField {
    border: none;
    border-radius: 20px;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.input {
    composes: formField;
    padding: 0.5rem 1rem;
    transition: box-shadow 200ms ease;
}

.input:hover,
.input:focus {
    box-shadow: 0 0 8px var(--color-accent);
    outline: 1px solid var(--color-accent);
}

.submit {
    background-color: var(--color-white);
    composes: formField;
    margin: 2rem auto 0;
    padding: 0.5rem;
    transition: background-color 200ms ease, color 200ms ease;
    width: 50%;
}

.submit:hover,
.submit:focus {
    background-color: var(--color-accent);
    color: var(--color-white);
    outline: none;
}

@media screen and (min-width: 768px) {
    .container {
        padding: 2rem 2rem 10rem;
        width: 600px;
    }

    .smallContainer {
        padding: 2.5rem 1.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        padding: 2rem 3rem 12rem;
        width: 900px;
    }

    .smallContainer {
        padding: 3rem 2rem;
    }

    .heading {
        margin-bottom: 3rem;
    }

    .row {
        flex-direction: row;
        gap: 2rem;
        justify-content: space-between;
    }

    .input {
        font-size: 16px;
        width: 70%;
    }

    .submit {
        font-size: 16px;
        width: 30%;
    } }