.container {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    gap: 0.5rem;
    align-items: flex-end;
}

.link {
    color: var(--color-black);
    text-decoration: none;
}

.link:active {
    color: var(--color-accent);
}

@media screen and (min-width: 768px) {
    .container {
        flex-direction: row;
        gap: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        font-size: 18px;
        gap: 2rem;
    } }