.container {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 280px;
    padding: 0 1rem;
}

.welcome {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.button {
    border: none;
    border-radius: 20px;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    margin: 0 auto;
    padding: 0.5rem;
    transition: background-color 200ms ease, color 200ms ease;
    width: 100px;
}

.button:focus,
.button:hover {
    background-color: var(--color-accent);
    color: var(--color-white);
    outline: none;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 350px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        gap: 1rem;
        max-width: 450px;
    }

    .welcome {
        font-size: 18px;
    }

    .button {
        font-size: 16px;
    } }